//Border Components Part
%customBorder-radius-left{
    border-top-left-radius:23px;
    border-bottom-left-radius:23px;
}
%customBorder-radius-right{
    border-top-right-radius:23px;
    border-bottom-right-radius:23px;
}
%customBorder-includes{
    position:absolute;
    width:5.5px;
    background:map-get($map:$colors,$key:infoColor);
    content:'';
}
.customBorder--right{
    position:relative;
    &::before{
        @extend %customBorder-includes;
        height:32%;
        top:15%;
        right:0;
        @extend %customBorder-radius-left;
    }
}
.customBorder--left{
    position:relative;
    &::before{
        @extend %customBorder-includes;
        height:32%;
        top:15%;
        left:0;
        @extend %customBorder-radius-right;
    }
}
.customBorder--both{
    position:relative;
    &::before,&::after{
        @extend %customBorder-includes;
        top:50%;
        transform:translateY(-50%);
        height:35%;
    }
    &::before{
        left:0;
        @extend %customBorder-radius-right;
    }
    &::after{
        right:0;
        @extend %customBorder-radius-left;
    }
}



//Text-Alignment Components Part
.text--start{
    text-align:start;
}
.text--center{
    text-align:center;
}
.text--end{
    text-align:end;
}



//Elements Components Part
h1{
    font-size:calc(1.375rem + 1.5vw);
}
h2{
    font-size:calc(1.325rem + 0.9vw);
}
h3{
    font-size:calc(1.3rem + 0.6vw);
}
h4{
    font-size:calc(1.275rem + 0.3vw);
}
h5{
    font-size:1.25rem;
}
h6{
    font-size:1rem;
}



//Icons Components Part
.icon{
    opacity:0.73;
    position:absolute;
    color:lighten($color:map-get($map:$colors,$key:primaryColor),$amount:3);
    display:inline-block;
    right:3px;
    top:7px;
    z-index:-1;
}



//Animations Part
@keyframes ShowOnRight{
    0%{
        opacity:0;
        transform:translateX(300px);
    }100%{
        opacity:1;
    }
}
@keyframes ShowOnLeft{
    0%{
        opacity:0;
        transform:translateX(-300px);
    }100%{
        opacity:1;
    }
}
@keyframes ShowOnTop{
    0%{
        opacity:0;
        transform:translateY(-200px);
    }100%{
        opacity:1;
    }
}
@keyframes ShowOnBottom{
    0%{
        opacity:0;
        transform:translateY(200px);
    }100%{
        opacity:1;
    }
}
@keyframes ProgressBarAnim{
    from{
        width:0%;
    }to{
        width:var(--i);
    }
}


//Text-Spacing Components Part
.text--space{
    letter-spacing:1.8px;
}



//Placeholder-Selectors Components Part
%boxShadow{
    box-shadow:0 10px 20px #00000030, 0 10px 10px #0000003b;
    transition:box-shadow 0.65s ease;
    &:hover{
        box-shadow:#ffffff1a 0px 1px 1px 0px inset,#32325d40 0px 50px 100px -20px,#0000004d 0px 30px 60px -30px;
    }
}