//Top-Container Styles Part
.topContainer{
    display:flex;
    padding:2rem;
    flex-direction:row;
    flex-wrap:wrap;
    text-align:center;
    justify-content:space-between;
    align-items:center;
    margin:2.5rem 4rem;

    &__profile{
        animation:ShowOnRight ease-out 1.35s;
        background:map-get($map:$colors,$key:secondryColor);
        flex:3;
        margin-left:25px;
        border-radius:12px;
        @extend %boxShadow;
    }

    &__about{
        animation:ShowOnLeft ease-out 1.35s;
        flex:3;
        padding:15px 25px 25px;
        background:map-get($map:$colors,$key:secondryColor);
        border-radius:12px;
        z-index:-10;
        @extend %boxShadow;

        &--header{
            color:map-get($map:$colors,$key:customWhite);
            margin-bottom:10px;
            z-index:20;
        }

        &--content{
            margin-top:1rem;
            font-style:italic;
            position:relative;

            &::before{
                font-family:FontAwesome;
                position:absolute;
                right:-13.5px;
                top:-16px;
                content:'\f10e';
                font-size:1.4rem;
                color:rgba($color:map-get($map:$colors,$key:infoColor),$alpha:0.8);
            }

            &::after{
                font-family:FontAwesome;
                content:'\f10d';
                font-size:1.4rem;
                color:rgba($color:map-get($map:$colors,$key:infoColor),$alpha:0.8);
                position:absolute;
                left:-13.5px;
                bottom:-22.5px;
            }
        }
    }

    &__social{
        margin:3.5px;

        &--container{
            display:flex;
            padding:3px;
            font-size:1.7rem;
            color:map-get($map:$colors,$key:infoColor);
            flex-wrap:wrap;
            justify-content:space-around;
            margin-block:10px;

            & i{
                transition:0.6s ease-out;
                color:map-get($map:$colors,$key:primaryColor);
                border-radius:5px;
                padding:5px;

                &:hover{
                    border-radius:10px;
                    color:darken($color:map-get($map:$colors,$key:primaryColor),$amount:12);
                    background:darken($color:map-get($colors,secondryColor),$amount:11);
                    transform:translateY(-5px) rotate(360deg);
                }
            }
        }
    }

    &__info{
        margin-bottom:0.5rem;
        display:flex;
        flex-flow:wrap column;
        justify-content:center;
        align-items:center;

        &--header{
            color:darken($color:map-get($map:$colors,$key:primaryColor),$amount:5);
            opacity:0.9;
        }

        &--row{
            margin-bottom:2px;
            width:80%;
        }
    }

    &__backImg{
        position:relative;
        padding:1.5rem 1.5rem;

        &--profile{
            border-radius:20px;
            width:93%;
            user-select:none;
            z-index:1;
            position: relative;
        }

        &--back{
            z-index:5;
            width:100px; 
            height:100px;
            border:7.5px solid map-get($map:$colors,$key:secondryColor);
            border-radius:50%;
            overflow:hidden;
            cursor:pointer;
            bottom:0;
            right:50%;
            transform:translateX(50%);
            position:absolute;
        }

        &--main{
            border-radius:50%;
            width:100%;
            height:100%;
            background-image:url("./../../Imgs/UI/Mountain.jpg");
            background-position:center;
            background-repeat:no-repeat;
            background-size:cover;
            transition:transform 0.45s ease;
        }
        
        &--back:hover > &--main, &--back:focus > &--main{
            transform:scale(1.18);
        }
    }

    &__flash{
        transform:scale(-1,1) rotate(-40deg);
        position:absolute;
        left:0.5rem;
        top:2rem;
        color:#9e8787;
    }
}



//Information Styles Part
.information{
    $information-color:lighten($color:#171515,$amount:4.5);
    background:map-get($map:$colors,$key:secondryColor);
    position:relative;
    border-radius:12px;
    margin:1rem 6rem;
    padding:10px 25px 20px;
    z-index:-10;
    color:$information-color;
    @extend %boxShadow;

    &__header{
        color:map-get($map:$colors,$key:customWhite);
        margin:4px 3px 15px;
        z-index:20;
    }

    &__row{
        margin:8.5px 10%;
        display:flex;
        justify-content:space-between;
    }
    
    &__number{
        cursor:pointer;
        color:$information-color;
    }
}



//Skills Styles Part
.skills{
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;
    animation:ShowOnBottom ease-out 1.35s;
    background:map-get($map:$colors,$key:secondryColor);
    margin:4rem 6.5rem;
    z-index:-10;
    padding:15px 7px;
    border-radius:15px;
    @extend %boxShadow;

    &__header{
        display:block;
        width:100%;
        margin:-2.5px 20px 10px;
        z-index:20;
        color:map-get($map:$colors,$key:customWhite);
    }
    &__row{
        margin:8px;
        padding:5px;
        flex-basis:45%;
        width:45%;
    }
    &__progress{
        &--container{
            background:#ffffff;
            position:relative;
            width:100%;
            height:7.5px;
            border-radius:20px;
            box-shadow:inset 0 0 6px lighten($color:#0e0d0d7b,$amount:3);
        }
        &--main:nth-child(n){
            animation:ProgressBarAnim 0.85s ease-out;
            border-radius:20px;
            position:absolute;
            width:var(--i);
            height:7px;
            top:50%;
            transform:translateY(-50%);
            left:0;
            transition:width ease-out 0.85s ;
            background: -webkit-gradient(linear,left bottom,left top,
                color-stop(0.44,#7a99d9),
                color-stop(0.72,#497dbd),
                color-stop(0.86,#1c3a94),
            );
        }
    }
    &__name{
        font-weight:bold;
        letter-spacing:1.9px;
        color:lighten($color:#000000,$amount:5);
        margin-bottom:3px;
        margin-left:5px;
        display:inline-block;
        float:left;
        text-transform:capitalize;
    }
    &__value{
        margin-right:5px;
        margin-bottom:3px;
        display:inline-block;
    }
}




//Media-Queries Styles Part
@media screen and (max-width:768px){
    .topContainer{
        flex-direction:column;
        margin:2.5rem 0;
        padding:1rem;
        &__profile{
            margin-bottom:1.5rem;
            margin-left:0px;
        }
    }
    .skills{
        margin:3rem 1rem;
        &__row{
            flex-basis:90%;
            width:90%;
        }
    }
    .information{
        margin:1rem;
    }
}
@media screen and (min-width:576px) and (max-width:768px){
    .skills{
        margin:3rem 1.5rem;
        &__row{
            flex-basis:90%;
            width:90%;
        }
    }
    .topContainer{
        margin:2.5rem 1.5rem;
        padding:1.2rem;
        &__profile{
            margin-bottom:1.5rem;
            margin-left:0px;
        }
    }
}
@media screen and (max-width:567px){
    .information{
        padding:10px 15px 20px;
        &__row{
            margin:8.5px 0%;
        }
    }
    .topContainer{
        &__flash{
            left:0.25rem;
            transform:scale(-1,1) rotate(-30deg);
            top:1.5rem;
        }
    }
}
@media screen and (min-width:992px){
    .skills{
        &__row{
            flex-basis:30%;
            width:30%;
        }
    }
}
@media screen and (min-width:1200px){
    h1{
      font-size:2.5rem;
    }
    h4,.h4{
        font-size:1.5rem;
    }
    h3,.h3{
        font-size:1.75rem;
    }
    h2,.h2{
        font-size:2rem;
    }
}