$baseFontSize:16px;



//Main Colors Variables Part
$colors:(
    primaryColor:#8b8bea,
    secondryColor:#68c985,
    infoColor:#ebeb29,
    bgColor:#2f5e8e,
    customWhite:darken($color:#ffffff,$amount:7),
);